body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b, #0f172a);
  color: white;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  padding: 40px 80px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.subtitle {
  opacity: 0.8;
  margin-bottom: 30px;
}

.glass-card {
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.large {
  width: 450px;
  text-align: center;
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.primary-btn {
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(90deg, #7f00ff, #e100ff);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  transform: translateY(-3px);
}

.primary-btn:disabled {
  background: gray;
  cursor: not-allowed;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.status {
  background: #7f00ff;
  padding: 8px 15px;
  border-radius: 20px;
}

.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.stat {
  flex: 1;
  text-align: center;
}

.candidate-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.candidate {
  text-align: center;
}

.progress-bar {
  height: 8px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 15px 0;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #7f00ff, #e100ff);
  border-radius: 10px;
}

.center-text {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
